{% extends 'base.html.twig' %}

{% block title %}Hello TwigController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name|upper }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/project1/src/Controller/TwigController.php'|file_link(0) }}">src/Controller/TwigController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/project1/templates/twig/index.html.twig'|file_link(0) }}">templates/twig/index.html.twig</a></code></li>
    </ul>
</div>
    {%  set users= [{name:'first'},{name:'second'},{name:'jane'}] %}
    {% for user in users %}
     {% if user.name=='jane' %}

        <h1>jane is here</h1>
        {% else %}

            <h1>{{ user.name }}</h1>
        {% endif %}
    {% endfor %}
    {% include 'includes/header.html.twig' with {'users': users} %}

{% endblock %}

